<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Weichat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>CoreServlet</servlet-name>
    <servlet-class>  
            nju.iip.servlet.CoreServlet  
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoreServlet</servlet-name>
    <url-pattern>/CoreServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>  
            nju.iip.servlet.OAuthServlet  
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/OAuthServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>  
            nju.iip.servlet.RegisterServlet  
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>GetScaleServlet</servlet-name>
    <servlet-class>  
            nju.iip.servlet.GetScaleServlet  
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetScaleServlet</servlet-name>
    <url-pattern>/GetScaleServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetAnswerServlet</servlet-name>
    <servlet-class>  
            nju.iip.servlet.GetAnswerServlet  
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAnswerServlet</servlet-name>
    <url-pattern>/GetAnswerServlet</url-pattern>
  </servlet-mapping>
  
</web-app>